:host {
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  display: flex;
  flex: 1 1 auto;
}

#main {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-self: stretch;
  width: 100%;
}

mat-card {
  justify-content: center;
  margin: 4vw;
  height: 100%;
  padding: 0;
}
