<app-page-wrapper>
  <mat-card *ngIf="route | async as route">
    <mat-card-header>
      <mat-card-title>{{ route.name }}</mat-card-title>
      <mat-card-subtitle>{{ route.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="vertical-margin">
        {{ averageDistance(route) | mToKm | round : 2 }} km
      </div>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <div *ngFor="let group of route.groups">
          <a
            class="list-item"
            mat-list-item
            href="/groups/{{ group._id }}"
            fxLayout="row"
          >
            <div
              class="fixed-icon"
              fxFlex
              *ngIf="route.defaultGroup._id === group._id"
            >
              <mat-icon fxFlex>star-outline</mat-icon>
            </div>
            <div fxFlex>
              <div matListItemTitle>{{ group.name }}</div>
              <div matListItemLine>{{ group.description }}</div>
            </div>
            <div fxFlex>
              <div matListItemLine>Exercises: {{ group.exercises.length }}</div>
              <div matListItemLine>
                <span
                  >{{
                    group.exercises
                      | orderBy : "startingEpoch" : "asc"
                      | lastMovingAve : "elapsedSec"
                      | time
                  }}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div matListItemLine>
                <span>
                  {{
                    group.exercises
                      | orderBy : "startingEpoch" : "asc"
                      | lastMovingAve : "averagePace"
                      | pace
                  }}
                  min/km
                </span>
                <span>
                  <mat-icon
                    *ngIf="averageDirection(group, 'averagePace') === 1"
                    class="icon-center red"
                    inline
                    >trending_down</mat-icon
                  >
                  <mat-icon
                    *ngIf="averageDirection(group, 'averagePace') === 0"
                    class="icon-center"
                    inline
                    >trending_flat</mat-icon
                  >
                  <mat-icon
                    *ngIf="averageDirection(group, 'averagePace') === -1"
                    class="icon-center green"
                    inline
                    >trending_up</mat-icon
                  >
                </span>
              </div>
              <div matListItemLine>
                <span>
                  {{
                    group.exercises
                      | orderBy : "startingEpoch" : "asc"
                      | lastMovingAve : "averageHeartRate"
                      | round : 0
                  }}
                  bpm
                </span>
                <span>
                  <mat-icon
                    *ngIf="averageDirection(group, 'averageHeartRate') === 1"
                    class="icon-center red"
                    inline
                    >trending_down</mat-icon
                  >
                  <mat-icon
                    *ngIf="averageDirection(group, 'averageHeartRate') === 0"
                    class="icon-center"
                    inline
                    >trending_flat</mat-icon
                  >
                  <mat-icon
                    *ngIf="averageDirection(group, 'averageHeartRate') === -1"
                    class="icon-center green"
                    inline
                    >trending_up</mat-icon
                  >
                </span>
              </div>
            </div>
          </a>
          <mat-divider class="list-divider"></mat-divider>
        </div>
      </mat-nav-list>
      <div *ngIf="route.groups.length === 0">
        <h4>No groups.</h4>
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="createNew()">
        Create Group
      </button>
      <button mat-raised-button color="warn" (click)="deleteRoute()">
        Delete Route
      </button>
    </mat-card-actions>
  </mat-card>
</app-page-wrapper>
