<app-page-wrapper>
  <mat-card-content *ngIf="connection | async as c">
    <p>ID: {{ c._id }}</p>
    <p>External ID: {{ c.externalId }}</p>
    <p>Events: {{ c.events.join(", ") }}</p>
    <p>URL: {{ c.url }}</p>
    <p>Signature Key: {{ c.signatureSecretKey }}</p>
    <p>Created: {{ c.createdAt | date : "dd.MM.yyyy HH:mm:ss" }}</p>
    <p>Updated: {{ c.updatedAt | date : "dd.MM.yyyy HH:mm:ss" }}</p>
    <p>Active: {{ c.active }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="activate()">
      Activate
    </button>
    <button mat-raised-button color="warn" (click)="deactivate()">
      Deactivate
    </button>
    <button mat-raised-button color="accent" (click)="refresh()">
      Refresh
    </button>
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>
  </mat-card-actions>
</app-page-wrapper>
