<app-page-wrapper>
  <mat-card-header>
    <mat-card-title>Routes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <div *ngFor="let route of routes">
        <a
          class="list-item"
          mat-list-item
          href="/routes/{{ route._id }}"
          fxLayout="row"
        >
          <div fxFlex>
            <div matListItemTitle>{{ route.name }}</div>
            <div matListItemLine>
              {{ route.description }}
            </div>
          </div>
          <div fxFlex>
            <div matListItemLine>Groups: {{ route.groups.length }}</div>
            <div matListItemLine>
              Exercises:
              {{ exerciseCount(route) }}
            </div>
          </div>
          <div fxFlex>
            <div matListItemLine>
              {{ averageDistance(route) | mToKm | round : 2 }} km
            </div>
            <div matListItemLine>
              <span>AutoMatch </span>
              <span
                ><mat-icon class="icon-center" inline>{{
                  route.useAutomaticGrouping ? "check" : "clear"
                }}</mat-icon></span
              >
            </div>
          </div>
        </a>
        <mat-divider class="list-divider"></mat-divider>
      </div>
    </mat-nav-list>
    <div *ngIf="routes?.length === 0">
      <h4>No routes.</h4>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="createNew()">
      Create Route
    </button>
  </mat-card-actions>
</app-page-wrapper>
