<header id="header">
  <mat-toolbar color="primary" class="toolbar">
    <h1>
      <span class="bold">Sports</span>
    </h1>
    <span class="spacer"></span>
    <button
      mat-icon-button
      [routerLink]="'/home'"
      *ngIf="(auth.isAuthenticated$ | async) === true"
    >
      <mat-icon>directions_run</mat-icon>
    </button>
    <button
      mat-icon-button
      [routerLink]="'/routes'"
      *ngIf="(auth.isAuthenticated$ | async) === true"
    >
      <mat-icon>route</mat-icon>
    </button>
    <button
      mat-icon-button
      [routerLink]="'/profile'"
      *ngIf="(auth.isAuthenticated$ | async) === true"
    >
      <mat-icon>person</mat-icon>
    </button>
    <app-login *ngIf="(auth.isAuthenticated$ | async) === false" />
    <app-logout *ngIf="(auth.isAuthenticated$ | async) === true" />
    <button
      mat-icon-button
      (click)="toggleDarkTheme()"
      class="theme-toggle"
      aria-label="Toggle Dark Theme"
    >
      <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
  </mat-toolbar>
</header>
