:host {
  width: 100%;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  position: fixed;
}

#header {
  width: 100%;
  display: flex;
}

.toolbar {
  padding: 0 4vw;
}

.spacer {
  flex: 1 1 auto;
}

.bold {
  font-weight: bold;
}
