<header id="header">
  <mat-toolbar color="primary" class="toolbar">
    <h1>
      <span class="bold">Sports</span>
      <span> : &lt;&gt;{{ "{" }}&nbsp;&nbsp;</span>
      <span>Ville.S</span>
      <span>&nbsp;&nbsp;{{ "}" }}&lt;{{ "/" }}&gt;</span>
    </h1>
    <span class="spacer"></span>
    <div>
      <button
        mat-icon-button
        [routerLink]="'/home'"
        *ngIf="(auth.isAuthenticated$ | async) === true"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <app-login *ngIf="(auth.isAuthenticated$ | async) === false" />
    <app-logout *ngIf="(auth.isAuthenticated$ | async) === true" />
    <button
      mat-icon-button
      (click)="toggleDarkTheme()"
      class="theme-toggle"
      aria-label="Toggle Dark Theme"
    >
      <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
  </mat-toolbar>
</header>
