<app-page-wrapper>
  <mat-card-header>
    <mat-card-title>{{ connectionId }}</mat-card-title>
    <mat-card-subtitle>
      <p *ngIf="connection?.remote?.active === true" style="color: green">
        Active
      </p>
      <p *ngIf="connection?.remote?.active === false" style="color: red">
        Inactive
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="connection && connection.remote && connection.local">
    <p>
      External ID: {{ connection.local.externalId }}
      <span
        *ngIf="connection.local.externalId !== connection.remote.id"
        style="color: red"
      >
        ({{ connection.remote.id }})
      </span>
    </p>
    <p>
      URL: {{ connection.local.url }}
      <span
        *ngIf="connection.local.url !== connection.remote.url"
        style="color: red"
      >
        ({{ connection.remote.url }})
      </span>
    </p>
    <p>
      Events: {{ connection.local.events.join(", ") }}
      <span
        *ngIf="
          !arraysEqualProxy(connection.local.events, connection.remote.events)
        "
        style="color: red"
      >
        ({{ connection.remote.events.join(", ") }})
      </span>
    </p>
    <p>
      Signature Key:
      {{
        connection.local.signatureSecretKey.length !== 0 ? "*****" : "MISSING"
      }}
    </p>
    <p>
      {{ connection.local.createdAt | date: "dd.MM.yyyy HH:mm:ss" }}
      <span *ngIf="connection.local.createdAt !== connection.local.updatedAt">
        ({{ connection.local.updatedAt | date: "dd.MM.yyyy HH:mm:ss" }})
      </span>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      *ngIf="connection?.remote?.active === false"
      mat-raised-button
      color="primary"
      (click)="activate()"
    >
      Activate
    </button>
    <button
      *ngIf="connection?.remote?.active"
      mat-raised-button
      color="warn"
      (click)="deactivate()"
    >
      Deactivate
    </button>
    <button
      *ngIf="connection && connection.remote && connection.local"
      disabled="{{ !canBeUpdated() }}"
      mat-raised-button
      color="accent"
      (click)="update()"
    >
      Update
    </button>
    <button
      *ngIf="connection && connection.remote && connection.local"
      mat-raised-button
      color="warn"
      (click)="deleteConnection()"
    >
      Delete
    </button>
    <button
      *ngIf="!(connection && connection.remote && connection.local)"
      mat-raised-button
      color="primary"
      (click)="create()"
    >
      Connect
    </button>
  </mat-card-actions>
</app-page-wrapper>
