<app-page-wrapper>
  <mat-card-header>
    <mat-card-title>{{ connectionId }}</mat-card-title>
    <mat-card-subtitle>
      <p *ngIf="connection?.active === true" style="color: green">Active</p>
      <p *ngIf="connection?.active === false" style="color: red">Inactive</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="connection">
    <p>
      External ID: {{ connection.externalId }}
      <span
        *ngIf="connection.externalId !== connection.remoteId"
        style="color: red"
      >
        ({{ connection.remoteId }})
      </span>
    </p>
    <p>
      URL: {{ connection.url }}
      <span *ngIf="connection.url !== connection.remoteUrl" style="color: red">
        ({{ connection.remoteUrl }})
      </span>
    </p>
    <p>
      Events: {{ connection.events.join(", ") }}
      <span
        *ngIf="!arraysEqualProxy(connection.events, connection.remoteEvents)"
        style="color: red"
      >
        ({{ connection.remoteEvents.join(", ") }})
      </span>
    </p>
    <p>
      Signature Key:
      {{ connection.signatureSecretKey.length !== 0 ? "*****" : "MISSING" }}
    </p>
    <p>
      {{ connection.createdAt | date : "dd.MM.yyyy HH:mm:ss" }}
      <span *ngIf="connection.createdAt !== connection.updatedAt">
        ({{ connection.updatedAt | date : "dd.MM.yyyy HH:mm:ss" }})
      </span>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      *ngIf="connection?.active === false"
      mat-raised-button
      color="primary"
      (click)="activate()"
    >
      Activate
    </button>
    <button
      *ngIf="connection?.active"
      mat-raised-button
      color="warn"
      (click)="deactivate()"
    >
      Deactivate
    </button>
    <button
      *ngIf="connection"
      disabled="{{ !canBeUpdated() }}"
      mat-raised-button
      color="accent"
      (click)="update()"
    >
      Update
    </button>
    <button
      *ngIf="connection"
      mat-raised-button
      color="warn"
      (click)="deleteConnection()"
    >
      Delete
    </button>
    <button
      *ngIf="!connection"
      mat-raised-button
      color="primary"
      (click)="create()"
    >
      Connect
    </button>
  </mat-card-actions>
</app-page-wrapper>
