.active {
  color: red;
}

.sidenav-button {
  width: 100%;
  padding: 0 2vw;
  border-radius: 0px;
  justify-content: flex-start;
}

#admin-card-content {
  padding: 0;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  background-color: var(--mdc-elevated-card-container-color);
  padding: 2vw;
}

.mat-drawer-container {
  background-color: var(--mdc-elevated-card-container-color);
}
